.scan{
  position: relative;
}
.x{
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}
.scan img{
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  height: 525px;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
}

.but{
  position: relative;
  z-index: 2;
}
