@font-face {
  font-family: lable;
  src: url(../../../assets/font/esthetique.otf);
}
@font-face {
  font-family: ak;
  src: url(../../../assets/font/ak.ttf);
}
.cont{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.content1,.content2,.qr{
  max-width: 780px;
  min-width: 300px ;
}
.tags{
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
}
.tags label {
  margin: 1.5rem .2rem;
}
.tags label span{
  padding: .5rem 1rem;
  background-color: #04b09c;
  color: #fff;
  font-family: lable;
  border: 2px solid lightblue;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px .5px lightcoral;
  cursor: pointer;
  font-size: 1.5rem;
}
input[type="radio"]{
  display: none;
}

input[type="radio"]:checked + span{
  background-color: rgb(225, 48, 80);
}

.in{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid rgb(27, 180, 214);
  box-shadow: 2px 1px 5px .5px rgb(235, 60, 60);
  margin: .5rem 0;
  padding: .7rem;
  border-radius: 2rem;
  transition:all .4s linear;
}
.in label,.latlng{
  font-size: 2rem;
  margin: .5rem .7rem;
  font-family: ak;
  text-transform: capitalize;
  letter-spacing: 3px;
  color: rgb(251, 34, 34);
}
.in label span,.latlng{
  font-size: 1.5rem;
}
.in input,
textarea,
select{
  font-size: 1.6rem;
  padding: .5rem ;
  margin: .5rem .7rem;
  font-family: lable;
  background-color: rgb(179, 255, 179);
  border: 2px solid green;
  border-radius: 2rem;
  padding-left:.7rem ;
}
.pass{
  width: 100%;
  float: right;
}
.pass span{
  margin: 1rem;
  color:rgb(239, 41, 41);
  margin: 1rem;
}

.but{
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  margin-top: .5rem;
  font-family: ak;
  color: rgb(255, 72, 72);
  background-color: #04b09c;
  border-radius: 20rem;
  text-transform: uppercase;
}

.cal{
  font-family: lable;
  font-size: 1.5rem;
  width: 100%;
  background-color: #04b09c;
  margin: 1rem 0;
  position: relative;
  padding: .5rem;
  border: 2px solid lightblue;
  box-shadow: 2px 2px 5px .5px lightcoral;
  color: #fff;
  border-radius: 20rem;
  cursor: pointer;
}
.cal::after{
  content: "+";
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  position: absolute;
  color: #000000;
  background-color: #fff;
  right: 0;
  top: 0;
  padding: .5rem;
  border-radius: 200rem;
}
.content20,
.content21,
.content22,
.content23,
.content24,
.content25{
  background-color: rgb(225, 48, 80);

}
.content20::after,
.content21::after,
.content22::after,
.content23::after,
.content24::after,
.content25::after{
  content: " - ";
  font-family: Arial, Helvetica, sans-serif;
  width: 2.2rem;
  font-size: 3rem;
  text-align: center;
  padding: .3rem;
}
.sub{
  width: 100%;
  transition: linear 1s;
}

.ch{
  display: flex;
  flex-direction: row;
}
.ch input[type="checkbox"]{
  width: 1.5rem;
  height: 1.5rem;
  margin: .1rem;
}
.in div{
  display: flex;
}
.qr{
 margin-left:1rem ;
}
.do{
  background-color: rgb(235, 55, 55);
  color: #fff;
}
